<h1>Welcome to the vending machine</h1>
<p> What do you want to do next? </p>



<table>
<tbody>
 <tr> 
 	<td> <%= link_to 'Buy some products', user_index_path %> </td>
 </tr>
 <tr>
    <td> <%= link_to 'Change product content', products_path %> </td>
 </tr>
 <tr>
    <td> <%= link_to 'Change coins content', coins_path %> </td>
  </tr>
 </tbody>	
 </table>